<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- MVC와 관련된 스프링 설정 파일의 위치를 저장하는 태그 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
		<!-- root-context.xml 가져옴 -->
	</context-param>
	
	<!-- 스프링 프로젝트가 가동을 시작하면서 listener가 동작하고 위에 선언된 root-context.xml을 
		 모든 servlet에서 공유하도록 스프링 설정 파일로 초기 선언 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 중요!!! jsp에서 사용
		 가상의 uri을 등록하는 방법과  @WebSevlet을 통해서 하는 방법
		 밑의 코드는 가상의 uri 등록하는 방법
		 
		 DispatcherServlet 객체 등록 코드 
		 -->
		 <!-- DispatcherServlet을 appServlet으로 선언하고 
		 	    초기 파라미터로 스프링 설정파일 위치를 선언
		 	    우선순위도 지정해서 가장 먼저 생성될 수 있도록 설정 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
				<!-- 위의 내용이 DispatcherServlet객체를 생성할 때 같이 가져와달라 라는 뜻 -->
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
		
		<!-- 가상 uri 맵핑
			 모든 요청을 DispatcherServlet가 다 받겠다는 뜻 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
